[submodule "s2client-api"]
	path = thirdparty/s2client-api
	url = https://github.com/Blizzard/s2client-api.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
